* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

a,
a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/*=======Header=======*/

.header {
  background: #4B4040;
  background-image: url(../images/first-screen.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 740px;
}

.header-title {
  margin: 0 auto;
}

.header-title {
  text-align: center;
  max-width: 936px;
}

.header-title h2 {
  padding-top: 190px;
  font-size: 64px;
  line-height: 95px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 18px;
  letter-spacing: 1.3px;
}

.header-subtitle {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

/*=======Numbers holidays=======*/

.wrapper {
  margin-top: -150px;
}

/* .numbers {
   position: relative; 
} */

.numbers-item {
  background-color: #F7F7F7;
  width: 100%;
  max-width: 1110px;
  min-height: 300px;
  /* left: calc(50% - 555px);
  top: -150px;
  position: absolute; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 130px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 190px;
  width: 100%;
  min-height: 186px;
}

.item span.number {
  font-size: 72px;
  color: #F7654A;
  font-weight: 500;
  margin-bottom: 29px;
  margin-top: 19px;
}

.item h3 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.item .item-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #999999;
}

/*=======Holidays=======*/

.holidays-box {
  display: flex;
  margin-bottom: 102px;
}

.holidays h2 {
  text-align: center;
  padding: 100px 0px 49px 0px;
  font-size: 36px;
  line-height: 53.4px;
  font-weight: 500;
  text-transform: uppercase;
  color: #404149;
  width: 100%;
  max-width: 1110px;
}

.box-item {
  margin-left: 30px;
  position: relative;
}

.box-item:first-child {
  margin-left: 0;
}

.box-item h3 {
  font-size: 24px;
  line-height: 35.6px;
  font-weight: 500;
  margin-top: 66px;
}

.box-item h3::before {
  content: '';
  left: 0;
  bottom: 50px;
  background-color: #F7654A;
  width: 55px;
  height: 6px;
  position: absolute;
}

.box-item-1,
.box-item-2,
.box-item-3 {
  background-repeat: no-repeat;
  width: 350px;
  height: 380px;
}

.box-item-1 {
  background-image: url(../images/item-1.jpg);
}

.box-item-2 {
  background-image: url(../images/item-2.jpg);
}

.box-item-3 {
  background-image: url(../images/item-3.jpg);
}

/*=======Feedback=======*/

.feedback {
  background-color: #F7654A;
}

.feedback-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-text {
  padding: 30px 0px 38px 0px;
}

.feedback-text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0.9px;
  color: #fff;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.feedback-text span {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #fff;
}

.feedback-btn {
  background-color: #fff;

  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.7px;
  padding: 14px 30px 14px 63px;
  text-transform: uppercase;

  position: relative;
}

.feedback-btn::before {
  content: '';
  background-image: url(../images/mini-mail.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  left: 30px;
  ;
  top: 18px;
  position: absolute;
}

/*=======Programm=======*/

.program-title h2 {
  padding-top: 150px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 53.4px;
  text-transform: uppercase;
}

.program-box {
  width: 100%;
  max-width: 1110px;
  min-height: 530px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 140px;
}

.program-items {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px 123px 50px 117px;
  width: 350px;
  height: 250px;
  background-color: #F7F7F7;
}

.program-items:nth-child(1),
.program-items:nth-child(2),
.program-items:nth-child(3) {
  margin-top: 0;
}

.program-item {
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-bottom: 14px;

}

.program-item-1 {
  background-image: url(../images/program-1.svg);
}

.program-item-2 {
  background-image: url(../images/program-2.svg);
}

.program-item-3 {
  background-image: url(../images/program-3.svg);
}

.program-item-4 {
  background-image: url(../images/program-4.svg);
}

.program-item-5 {
  background-image: url(../images/program-5.svg);
}

.program-item-6 {
  background-image: url(../images/program-6.svg);
}

.program-items h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 31.1px;
  letter-spacing: 0.5px;
  text-align: center;
  max-width: 130px;
  text-transform: uppercase;
}

/*=======Gallery=======*/

.gallery {
  width: 100%;
  max-width: 1920px;
  min-height: 814px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 115px;
}
.gallery-photo{
  margin: -3px;
}
/*=======Reviews=======*/

.reviews h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 53.4px;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 62px;
}

.reviews-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.review {
  width: 100%;
  max-width: 350px;
  min-height: 259px;
  padding: 79px 30px 38px 30px;
  background-color: #F7F7F7;

  position: relative;
}

.review p {
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
  color: #999999;
}

.review p::before {
  content: url(../images/quotes.svg);
  width: 37px;
  height: 30px;
  top: 30px;
  left: 28px;
  position: absolute;
}

.author {
  margin-top: 25px;

  font-size: 21px;
  font-weight: 500;
  line-height: 31.1px;
}

/*=======Contacts=======*/

.contacts {
  margin-top: 100px;
}

.contacts h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 53.4px;
  margin-bottom: 56px;
  text-transform: uppercase;
}

.contacts-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  min-height: 195px;

  padding-bottom: 150px;
}

.contact-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 255px;
  min-height: 191px;
}

.contact-item h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 35.6px;
  color: #999;
  text-transform: uppercase;

  margin-top: 23px;
  margin-bottom: 17px;
}

.contact-item::before {
  content: url(../images/dotmap.svg);
  width: 36px;
  height: 49px;
}

.contact-item:nth-child(2)::before {
  content: url(../images/phone.svg);
  width: 47px;
  height: 49px;
}

.contact-item:nth-child(3)::before {
  content: url(../images/clock.svg);
  width: 49px;
  height: 49px;
}

.contact-item:nth-child(4)::before {
  content: url(../images/mail.svg);
  width: 47px;
  height: 36px;
}

.contact-item p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 35.6px;
  text-transform: uppercase;
}

.orange {
  color: #F7654A;
}

/*========Footer=======*/

.footer {
  background-color: #404149;
}

.footer-inner {
  width: 100%;
  max-width: 1110px;
}

.footer-inner p {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 21.8px;
  color: #fff;
  padding: 30px 0;
}

.footer-inner p:nth-child(2) {
  margin-left: 670px;
}
